<!-- Slick slider area start -->
<div class="slick-slider-area clearfix">
    <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
        {% for staff_member in staff_members %}
        <div class="slick-slide-item">
            <div class="team-1">
                <div class="photo">
                    <a href="#">
                        <img src="{{ staff_member.photo.url }}" alt="team-1" class="img-fluid">
                    </a>
                    <div class="social-list clearfix">
                        <a href="{{ staff_member.facebook_link }}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                        <a href="{{ staff_member.twitter_link }}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                        <a href="{{ staff_member.google_plus_link }}" target="_blank" class="google-bg"><i class="fa fa-google"></i></a>
                    </div>
                </div>
                <div class="details">
                    <h4><a href="team-detail.html">{{ staff_member.first_name }} {{ staff_member.last_name }}</a></h4>
                    <h5>{{ staff_member.designation }}</h5>
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>